@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Montserrat:wght@400;600;700&family=Oswald:wght@400;600&family=Anton&family=Raleway:wght@400;700&family=Nunito:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.testi-main-con {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    height: 350px;
    width: 100%;
    gap: 10px;
}

.testi-first-img-con {
    height: 100%;
    width: 100%;
}

.testi-first-img-inner-con {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.testi-first-img-inner-con img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.3);
    transform-origin: center center;
}

.second-testimonial-first-card-con {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.second-testimonial-second-card-con {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.second-testimonial-first-card-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 0.2rem 1rem;
}

.second-testimonial-second-card-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 0.2rem 1rem;
}

.second-testimonial-first-card-profile-img-con {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}

.second-testimonial-first-card-profile-img-con img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.second-testimonial-first-card-profile-content-con {
    padding: 0 10px 0 50px;
}

.second-testimonial-first-card-profile-content-text {
    font-size: 14px;
    text-align: start;
    margin: auto;
}

.second-testimonial-first-card-profile-content-name {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
}

.second-testimonial-first-card-profile-content-name p {
    margin-right: 0.7rem;
}

.second-testimonial-first-card-profile-content-name i {
    color: #FF4E00;
}

/* ===== RESPONSIVE ===== */

@media screen and (min-width: 901px) {
    .second-testimonial-first-card-profile-content-text {
        font-size: 12px !important;
    }

    .second-testimonial-first-card-profile-content-name p {
        font-size: 12px;
    }

    .second-testimonial-first-card-profile-content-name i {
        font-size: 8px;
        white-space: nowrap;
    }

}

@media screen and (max-width: 900px) {
    .testi-main-con {
        grid-template-columns: 48% 48%;
        height: auto;
        gap: 15px;
    }

    .testi-first-img-con {
        grid-column: 1 / -1;
        height: 240px;
    }

    .second-testimonial-first-card-con,
    .second-testimonial-second-card-con {
        height: auto;
    }

    .second-testimonial-first-card-profile-con {
        padding: 0.8rem 1rem;
        width: 100%;
        height: 150px;
    }

    .second-testimonial-first-card-profile-img-con img {
        height: 70px;
        width: 70px;
    }

    .second-testimonial-first-card-profile-content-con {
        padding: 0 10px 0 40px;
    }
}

@media screen and (max-width: 550px) {
    .testi-main-con {
        grid-template-columns: 100%;
        gap: 18px;
        height: auto;
    }

    .testi-first-img-con {
        height: 200px;
        grid-column: auto;
    }

    .second-testimonial-first-card-con,
    .second-testimonial-second-card-con {
        height: auto;
    }

    .second-testimonial-first-card-profile-con {
        padding: 0.8rem 1rem;
        width: 100%;
    }

    .second-testimonial-first-card-profile-img-con img {
        height: 70px;
        width: 70px;
    }

    .second-testimonial-first-card-profile-content-con {
        padding: 0 10px 0 25px;
    }

    .second-testimonial-first-card-profile-content-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .second-testimonial-first-card-profile-con {
        padding: 0.5rem 0.7rem;
    }

    .second-testimonial-first-card-profile-content-con {
        padding: 0 5px 0 15px;
    }

    .second-testimonial-first-card-profile-content-name {
        flex-wrap: wrap;
    }
}